/* Begin General Styles */

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* End General Styles */

body>* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    width: 66vw;
}

/* Begin Upper Section Styles */
main>.container {
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 10px;
}

.col-lg-12 {
    padding-top: 2rem;
    padding-left: 2.5rem;
}

.upper-section>h4 {
    margin-bottom: 1.5rem;
    color: #2BB3B1;
}

.upper-section>h5 {
    margin-bottom: 1rem;
    color: #BFDF32;
}

.upper-section>p {
    margin-bottom: 3px;
    color: #2BB3B1;
}

.upper-section>p:last-of-type {
    margin-bottom: 1rem;
}

/* End Upper Section Styles */

/* Begin Lower Section Styles */
.col-lg-6 {

    padding: 0px;
    padding-top: 1.5rem;
    padding-left: 1.4rem;
}

.col-lg-6>* {
    margin-left: 2rem;
}



/* Begin Left Side Styles */

.col-lg-6:first-of-type {
    background-color: #2BB3B1;
    color: #fff;
    border-bottom-left-radius: 10px;
}

h5>span {
    font-size: 31px;
    font-weight: 700;
    margin-right: 0.7rem;
    color: #fff;

}

.col-lg-6:first-of-type>h5 {
    font-size: 14px;
    color: #66D3D3;
}

.col-lg-6:first-of-type>h4 {
    margin-bottom: 1.5rem;
}

.col-lg-6:first-of-type>h5 {
    margin-bottom: 1rem;
}

.col-lg-6:first-of-type>p {
    margin-bottom: 2.4rem;
}

.col-lg-6:first-of-type>button {
    margin-bottom: 3rem;
}

button {
    border: none;
    background-color: #BFDF32;
    width: 18vw;
    height: 6vh;
    color: #fff;
    width: 18vw;
    height: 6vh;
    border-radius: 6px;
}

/* End Left Side Styles */

/* Begin Right Side Styles */


.col-lg-6:nth-of-type(2) {
    background-color: #4ABEBD;
    color: #fff;
    border-bottom-right-radius: 10px;
}

.col-lg-6:nth-of-type(2)>p {
    margin-bottom: 0px;
    font-size: 13px;
}

.col-lg-6:nth-of-type(2)>h5 {
    margin-bottom: 1.4rem;
    font-size: 1.7em;
    margin-top: 1rem;
}

/* End Right Side Styles */




/* End Lower Section Styles */

/* Begin Media Query */

@media screen and (min-width: 300px) and (max-width: 415px) {
    .col-lg-12 {
        padding-top: 1rem;
        padding-left: 28px;
    }

    .col-lg-6:first-of-type {
        border-bottom-left-radius: 0px;
    }

    button {
        width: 14rem;
        border-radius: 6px;
    }

    .upper-section>h5 {
        font-size: .9em;
    }

    .col-lg-6:first-of-type {
        padding-top: 1rem;
        padding-left: 0px !important;
    }

    .col-lg-6>* {
        margin-left: 24px;
    }

    .col-lg-6:nth-of-type(2) {
        padding-top: 0px;
        border-bottom-left-radius: 10px;
    }

    .col-lg-6:nth-of-type(2)>p:last-of-type {
        padding-bottom: 35px;
    }

}


/* IPhone SE */
@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
    p {
        font-size: 11px;
    }

    .col-lg-12 {
        padding-left: 20px;
    }


    .col-lg-6:first-of-type>h5 {

        margin-bottom: 14px !important;
    }

    .col-lg-6:first-of-type>h4 {
        margin-bottom: 10px;
    }

    .col-lg-6:nth-of-type(2) {
        padding-left: 0px;
    }

    .col-lg-6:first-of-type>p {
        margin-bottom: 10px;
    }


    button {
        margin-left: 10px;
        margin-bottom: 13px !important;
        width: 195px;
    }

    .col-lg-6:nth-of-type(2)>p:last-of-type {
        padding-bottom: 18px;
    }

}

/* Iphone 12 Pro */
@media only screen and (device-width : 390px) and (device-height : 844px) and (-webkit-device-pixel-ratio : 3) {
    p {
        font-size: 11px;
    }

    .col-lg-12 {
        padding-left: 20px;
    }


    .col-lg-6:first-of-type>h5 {

        margin-bottom: 14px !important;
    }

    .col-lg-6:first-of-type>h4 {
        margin-bottom: 10px;
    }

    .col-lg-6:nth-of-type(2) {
        padding-left: 0px;
    }

    .col-lg-6:first-of-type>p {
        margin-bottom: 10px;
    }


    button {
        margin-left: 10px;
        margin-bottom: 13px !important;
        width: 195px;
    }

    .col-lg-6:nth-of-type(2)>p:last-of-type {
        padding-bottom: 18px;
    }

}

/* 539 And Up */
@media only screen and (min-width: 539px) and (max-width: 910px) {
    .col-lg-12 {
        padding-top: 1rem;
        padding-left: 28px;
    }

    .col-lg-6:first-of-type {
        border-bottom-left-radius: 0px;
    }

    button {
        width: 56vw;
        border-radius: 6px;
        margin-bottom: 4vh !important;

    }

    .upper-section>h5 {
        font-size: .9em;
    }

    .col-lg-6:first-of-type {
        padding-top: 1rem;
        padding-left: 0px !important;
    }

    .col-lg-6:first-of-type>p {
        margin-bottom: 3vh;
    }

    .col-lg-6>* {
        margin-left: 24px;
    }

    .col-lg-6:nth-of-type(2) {
        padding-top: 0px;
        border-bottom-left-radius: 10px;
    }

    .col-lg-6:nth-of-type(2)>p:last-of-type {
        padding-bottom: 35px;
    }

    .col-lg-6:nth-of-type(2)>* {
        margin-left: 0px;
    }

}

/* 911 And up */
@media only screen and (min-width: 911px) and (max-width: 1022px) {
    .col-lg-12 {
        padding-top: 1rem;
        padding-left: 28px;
    }

    .col-lg-6:first-of-type {
        border-bottom-left-radius: 0px;
    }

    button {
        width: 25vw;
        height: 3vh;

        border-radius: 6px;
        margin-bottom: 4vh !important;

    }



    .upper-section>h5 {
        font-size: .9em;
    }

    .col-lg-6:first-of-type {
        padding-top: 1rem;
        padding-left: 0px !important;
        border-bottom-left-radius: 10px;
    }

    .col-lg-6:first-of-type>p {
        margin-bottom: 3vh;
    }

    .col-lg-6>* {
        margin-left: 24px;
    }

    .col-lg-6:nth-of-type(2) {
        padding-top: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .col-lg-6:nth-of-type(2)>p:last-of-type {
        padding-bottom: 35px;
    }

    .col-lg-6:nth-of-type(2)>* {
        margin-left: 0px;
    }

}

@media screen and (min-width: 1023px) {
    button {
        width: 18vw;
    }
}


@media screen and (min-width: 0px) and (max-width: 299px) {
    p {
        font-size: 11px;
    }

    .col-lg-6:first-of-type>h4 {
        font-size: 14px;
        margin-bottom: 9px;

    }

    .col-lg-12>.upper-section>h4 {
        margin-top: 20px;
    }

    .col-lg-12 {
        padding-left: 15px;
    }

    .col-lg-6:first-of-type {
        padding-left: 0px;
        border-bottom-left-radius: 0px;
        padding-top: 6px;
    }

    .col-lg-6:first-of-type>p {
        margin-bottom: 16px;
        font-size: 10px;
    }

    button {
        margin-bottom: 19px;
        width: 38vw;
        border-radius: 6px;
    }

    .col-lg-6:nth-of-type(2) {
        padding-left: 0px;
        padding-top: 0px;
        border-bottom-left-radius: 10px;
    }

    h5>span {
        font-size: 20px;

    }

    .col-lg-6:first-of-type>h4 {
        font-size: 16px;
        margin-bottom: 11px;
        margin-top: 10px;
    }

    .col-lg-6:nth-of-type(2)>h5 {
        margin-bottom: 5px;
        font-size: 19px;


    }

    .col-lg-6:nth-of-type(2)>p {
        font-size: 10px;
    }

    .col-lg-6:nth-of-type(2)>p:last-of-type {
        margin-bottom: 20px !important;
    }
}





/* End Media Query */